{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}

<div class="flex flex-wrap justify-start items-center">
  <svg class="fai text-accent-l dark:text-front-d"><title>Date</title><use xlink:href="/img/fa/all.svg#calendar-days"></use></svg>
  <time datetime="{{ $dateTime }}">{{ partial "date-full.html" . }}</time>

  <svg class="fai ml-3 text-accent-l dark:text-front-d"><title>Tags</title><use xlink:href="/img/fa/all.svg#tag"></use></svg>
  <div class="flex flex-wrap gap-y-1">
  {{ with (.GetTerms "tags") }}
  {{ range . }}
    <a class="label-link" href="{{ .Permalink }}">
      {{ if .Params.Icon }}
        {{ partial "svg.html" .Params.Icon }}
      {{ end }}
      {{ .Title | strings.Title }}
    </a>
  {{ end }}
  </div>
{{ end }}
</div>