{{ define "main" }}

{{ $posts := (where .Site.RegularPages "Section" "posts")}}

{{ $text := newScratch }}
{{ $text.Set "value" "```bib\n" }}

{{ range $posts }}
  {{/*  <li><a href="{{ .Permalink }}">{{ .Title }}</a> <i>({{- partial "date-short.html" . -}})</i></li>  */}}
  {{ $text.Add "value" (printf "@misc{akinshin.post.%s,\n" .File.ContentBaseName) }}
  {{ $text.Add "value" "  author = {Andrey Akinshin},\n" }}
  {{ $text.Add "value" (printf "  title = {%s},\n" .Title) }}
  {{ $text.Add "value" (printf "  year = {%s},\n" (printf "%d" .Date.Year)) }}
  {{ $text.Add "value" (printf "  month = {%s},\n" (printf "%d" .Date.Month)) }}
  {{ $text.Add "value" (printf "  day = {%s},\n" (printf "%d" .Date.Day)) }}
  {{ $text.Add "value" (printf "  url = {%s%s},\n" .Site.Params.publicBaseURL .RelPermalink) }}
  {{ $text.Add "value" (printf "  keywords = {%s}\n" (delimit .Params.tags ", ")) }}
  {{ $text.Add "value" "}\n" }}
  {{ $text.Add "value" "\n" }}
{{ end }}

{{ $text.Add "value" "```" }}

{{ $text.Get "value" | markdownify }}

{{ end }}