{{ define "main" }}

{{ if eq .Site.Language.Lang "ru" }}
<script>
  window.location.replace("/ru/about");
</script>
{{ end }}

{{ partial "english-post-message.html" . }}

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

<div class="main-content">
{{ range $paginator.Pages }}
{{ if eq .Type "posts" }}
  <div>
    <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
    {{ partial "blog-post-meta.html" . }}
    <br>
    {{ .Summary | safeHTML }}
    <a href='{{ .RelPermalink }}'>{{ i18n "readMore" }}</a><br /><br />
    <hr />
  </div>
{{ end }}
{{ end }}
</div>

<div class="paginator">
  {{ template "_internal/pagination.html" . }}
</div>

{{ end }}