<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}" class="h-100">
  {{ partial "head.html" . }}
  <body class="d-flex flex-column min-vh-100">
    {{ partial "nav.html" . }}

    <div class="container">
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    {{ partial "footer.html" . }}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.3.1/anchor.min.js" integrity="sha512-zPB79j2C+3sFS9zcA3vg/z6bVKzJVEyu9pY5w89akQRys76zpAT2t6S3wZKla3QQ14O5l/Yt0RUQ/DHXx82Y5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ partial "import/js.html" "theme-after" }}

    <!-- Features scripts -->
    {{ partial "scripts/math.html" . }}
  </body>
</html>