{{ define "main" }}

{{ $posts := where .Pages "Section" "posts" }}
{{ $books := where .Pages "Section" "books" }}
{{ $papers := where .Pages "Section" "papers" }}

<h1>{{ .Title }}</h1>

{{ if $posts }}
<hr />
<h3>{{ i18n "posts" }}</h3>
{{ partial "posts-by-years.html" $posts }}
{{ end }}

{{ if $books }}
<hr />
<h3 id="books">Library / Books</h3>
{{ partial "library-list.html" $books }}
{{ end }}

{{ if $papers }}
<hr />
<h3 id="papers">Library / Papers</h3>
{{ partial "library-list.html" $papers }}
{{ end }}

{{ end }}