{{ define "main" }}

<h1>{{ .Title | strings.Title }}</h1>

<div class="flex flex-wrap gap-y-1 mb-5">

{{ range .Data.Terms.ByCount }}
  {{- if .Page.Params.Icon -}}
    <a class="label-link" href="{{ .Page.RelPermalink }}">
      {{- partial "svg-text.html" .Page.Params.Icon -}}
      {{- .Page.Title }} ({{ .Count }})
    </a>
  {{- end -}}
{{ end }}

{{ range .Data.Terms.ByCount }}
  {{- if not .Page.Params.Icon -}}
    <a class="label-link" href="{{ .Page.RelPermalink }}">
      {{ .Page.Title }} ({{ .Count }})
    </a>
  {{- end -}}
{{ end }}

</div>

{{ end }}