@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*** HTML elements ***/
  body {
    @apply bg-back-l dark:bg-back-d;
    @apply text-front-l dark:text-front-d;
  }
  nav {
    @apply bg-back-accent-l dark:bg-back-accent-d;
  }
  a {
    @apply text-accent-l dark:text-accent-d;
    @apply no-underline;
  }
  .main-content a:not(.label-link) {
    @apply hover:text-accent-icon-hover-l hover:dark:text-accent-icon-hover-d
  }
  hr {
    @apply bg-shadow-l dark:bg-shadow-d;
    @apply h-px my-3 border-0;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply leading-tight;
  }
  h1, h2, h3 {
    @apply text-4xl py-4;
  }
  h4 {
    @apply text-3xl py-3;
  }
  h5, h6 {
    @apply text-2xl py-2;
  }
  table {
    @apply border self-center mx-auto;
  }
  th, td {
    @apply border p-2
  }
  blockquote {
    @apply border-shadow-l dark:border-shadow-d;
    @apply bg-back2-l dark:bg-back2-d;
    @apply border-l-8;
    @apply ml-4 my-4 px-4 py-2;
  }
  strong {
    @apply text-front-strong-l dark:text-front-strong-d;
    @apply dark:font-black;
  }
  /*** Main styles ***/
  .main ul {
    @apply list-disc ml-10 my-2;
  }
  .main ol {
    @apply list-decimal ml-10 my-2;
  }
  .main p {
    @apply mb-3;
  }
  /*** Custom styles ***/
  .label {
    @apply border-frame-l dark:border-frame-d;
    @apply rounded border;
    @apply mx-1 px-1 py-0.5;
    @apply whitespace-nowrap;
  }
  .label-link {
    @apply border-accent-frame-l dark:border-accent-frame-d;
    @apply hover:bg-accent-hover-l dark:hover:bg-accent-hover-d;
    @apply rounded border;
    @apply mx-1 px-1 py-0.5;
    @apply whitespace-nowrap;
  }
  .nav-item {
    @apply text-white hover:bg-back-accent-hover-l dark:hover:bg-back-accent-hover-d;
  }
  /*** paginator ***/
  .paginator {
    @apply flex flex-wrap justify-center mb-4;
  }
  .paginator .page-item {
    @apply inline-flex border rounded px-3 py-1;
  }
  .paginator .page-item:not(.active):not(.disabled) {
    @apply border-frame-l dark:border-frame-d;
    @apply hover:bg-accent-hover-l dark:hover:bg-accent-hover-d;
  }
  .paginator .page-item.active {
    @apply border-accent-frame-l dark:border-accent-frame-d;
  }
  .paginator .page-item.disabled {
    @apply border-frame-l dark:border-frame-d;
    @apply bg-back2-l dark:bg-back2-d;
  }
  .paginator .page-item.disabled a {
    @apply text-gray-400 dark:text-gray-400;
  }
  /*** examples ***/
  .block-example {
    @apply border-shadow-l dark:border-shadow-d;
    @apply my-4 pl-3;
    @apply border-l-8;
  }
  /*** about ***/
  #about img {
    @apply inline-flex h-4;
  }
  /*** font-awesome svg icons ***/
  .fai {
    @apply inline-flex h-[1.2em] w-[1.2em] pr-[0.4em] fill-current;
  }
  .fai-link {
    @apply hover:text-accent-icon-hover-l dark:hover:text-accent-icon-hover-d;
  }
  .label-link .fai {
    @apply pl-1 pb-1 pb-0.5 h-[1.5em] w-[1.5em];
  }
  /*** Chroma ***/
  .chroma {
    @apply border-shadow-l dark:border-shadow-d;
    @apply my-5 overflow-y-scroll;
    @apply p-1 border-2 rounded;
  }
}

/*** examples ***/
.block-example-title::before {
  counter-increment: example;
  content: "Example " counter(example);
}
body {
  counter-reset: example;
}

/*** math ***/
code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

/*** Chroma ***/
pre.chroma code {
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace !important;
}

/* Background */ .chroma { background-color: #ffffff }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #000000; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #000000; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #000000; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #000000; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #000000; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #000000; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #445588; font-weight: bold }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #008080 }
/* NameBuiltin */ .chroma .nb { color: #0086b3 }
/* NameBuiltinPseudo */ .chroma .bp { color: #999999 }
/* NameClass */ .chroma .nc { color: #445588; font-weight: bold }
/* NameConstant */ .chroma .no { color: #008080 }
/* NameDecorator */ .chroma .nd { color: #3c5d5d; font-weight: bold }
/* NameEntity */ .chroma .ni { color: #800080 }
/* NameException */ .chroma .ne { color: #990000; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #990000; font-weight: bold }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color: #990000; font-weight: bold }
/* NameNamespace */ .chroma .nn { color: #555555 }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #000080 }
/* NameVariable */ .chroma .nv { color: #008080 }
/* NameVariableClass */ .chroma .vc { color: #008080 }
/* NameVariableGlobal */ .chroma .vg { color: #008080 }
/* NameVariableInstance */ .chroma .vi { color: #008080 }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #dd1144 }
/* LiteralStringAffix */ .chroma .sa { color: #dd1144 }
/* LiteralStringBacktick */ .chroma .sb { color: #dd1144 }
/* LiteralStringChar */ .chroma .sc { color: #dd1144 }
/* LiteralStringDelimiter */ .chroma .dl { color: #dd1144 }
/* LiteralStringDoc */ .chroma .sd { color: #dd1144 }
/* LiteralStringDouble */ .chroma .s2 { color: #dd1144 }
/* LiteralStringEscape */ .chroma .se { color: #dd1144 }
/* LiteralStringHeredoc */ .chroma .sh { color: #dd1144 }
/* LiteralStringInterpol */ .chroma .si { color: #dd1144 }
/* LiteralStringOther */ .chroma .sx { color: #dd1144 }
/* LiteralStringRegex */ .chroma .sr { color: #009926 }
/* LiteralStringSingle */ .chroma .s1 { color: #dd1144 }
/* LiteralStringSymbol */ .chroma .ss { color: #990073 }
/* LiteralNumber */ .chroma .m { color: #009999 }
/* LiteralNumberBin */ .chroma .mb { color: #009999 }
/* LiteralNumberFloat */ .chroma .mf { color: #009999 }
/* LiteralNumberHex */ .chroma .mh { color: #009999 }
/* LiteralNumberInteger */ .chroma .mi { color: #009999 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #009999 }
/* LiteralNumberOct */ .chroma .mo { color: #009999 }
/* Operator */ .chroma .o { color: #000000; font-weight: bold }
/* OperatorWord */ .chroma .ow { color: #000000; font-weight: bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #999988; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #999988; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #999988; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #999988; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #999999; font-weight: bold; font-style: italic }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #000000; background-color: #ffdddd }
/* GenericEmph */ .chroma .ge { color: #000000; font-style: italic }
/* GenericError */ .chroma .gr { color: #aa0000 }
/* GenericHeading */ .chroma .gh { color: #999999 }
/* GenericInserted */ .chroma .gi { color: #000000; background-color: #ddffdd }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }
/* Background */ .dark.chroma { color: #f8f8f2; background-color: #272822 }
/* Background */ .dark .chroma { color: #f8f8f2; background-color: #272822 }
/* Other */ .dark .chroma .x {  }
/* Error */ .dark .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .dark .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .dark .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .dark .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .dark .chroma .k { color: #66d9ef }
/* KeywordConstant */ .dark .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .dark .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .dark .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .dark .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .dark .chroma .kr { color: #66d9ef }
/* KeywordType */ .dark .chroma .kt { color: #66d9ef }
/* Name */ .dark .chroma .n {  }
/* NameAttribute */ .dark .chroma .na { color: #a6e22e }
/* NameBuiltin */ .dark .chroma .nb {  }
/* NameBuiltinPseudo */ .dark .chroma .bp {  }
/* NameClass */ .dark .chroma .nc { color: #a6e22e }
/* NameConstant */ .dark .chroma .no { color: #66d9ef }
/* NameDecorator */ .dark .chroma .nd { color: #a6e22e }
/* NameEntity */ .dark .chroma .ni {  }
/* NameException */ .dark .chroma .ne { color: #a6e22e }
/* NameFunction */ .dark .chroma .nf { color: #a6e22e }
/* NameFunctionMagic */ .dark .chroma .fm {  }
/* NameLabel */ .dark .chroma .nl {  }
/* NameNamespace */ .dark .chroma .nn {  }
/* NameOther */ .dark .chroma .nx { color: #a6e22e }
/* NameProperty */ .dark .chroma .py {  }
/* NameTag */ .dark .chroma .nt { color: #f92672 }
/* NameVariable */ .dark .chroma .nv {  }
/* NameVariableClass */ .dark .chroma .vc {  }
/* NameVariableGlobal */ .dark .chroma .vg {  }
/* NameVariableInstance */ .dark .chroma .vi {  }
/* NameVariableMagic */ .dark .chroma .vm {  }
/* Literal */ .dark .chroma .l { color: #ae81ff }
/* LiteralDate */ .dark .chroma .ld { color: #e6db74 }
/* LiteralString */ .dark .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .dark .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .dark .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .dark .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .dark .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .dark .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .dark .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .dark .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .dark .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .dark .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .dark .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .dark .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .dark .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .dark .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .dark .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .dark .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .dark .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .dark .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .dark .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .dark .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .dark .chroma .mo { color: #ae81ff }
/* Operator */ .dark .chroma .o { color: #f92672 }
/* OperatorWord */ .dark .chroma .ow { color: #f92672 }
/* Punctuation */ .dark .chroma .p {  }
/* Comment */ .dark .chroma .c { color: #75715e }
/* CommentHashbang */ .dark .chroma .ch { color: #75715e }
/* CommentMultiline */ .dark .chroma .cm { color: #75715e }
/* CommentSingle */ .dark .chroma .c1 { color: #75715e }
/* CommentSpecial */ .dark .chroma .cs { color: #75715e }
/* CommentPreproc */ .dark .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .dark .chroma .cpf { color: #75715e }
/* Generic */ .dark .chroma .g {  }
/* GenericDeleted */ .dark .chroma .gd { color: #f92672 }
/* GenericEmph */ .dark .chroma .ge { font-style: italic }
/* GenericError */ .dark .chroma .gr {  }
/* GenericHeading */ .dark .chroma .gh {  }
/* GenericInserted */ .dark .chroma .gi { color: #a6e22e }
/* GenericOutput */ .dark .chroma .go {  }
/* GenericPrompt */ .dark .chroma .gp {  }
/* GenericStrong */ .dark .chroma .gs { font-weight: bold }
/* GenericSubheading */ .dark .chroma .gu { color: #75715e }
/* GenericTraceback */ .dark .chroma .gt {  }
/* GenericUnderline */ .dark .chroma .gl {  }
/* TextWhitespace */ .dark .chroma .w {  }