<footer class="blog-footer">
  <div class="container">
    <p>&copy; 2013–2020 {{ i18n "andreyAkinshin" }}
      |
      <a href="https://github.com/AndreyAkinshin"><i class="fab fa-github" title="GitHub" style="color:white"></i></a>
      <a href="https://twitter.com/andrey_akinshin"><i class="fab fa-twitter" title="Twitter" style="color:white"></i></a>
      <a href='{{ ((.Site.GetPage "/posts").OutputFormats.Get "rss").Permalink }}'><i class="fas fa-rss" title="RSS" style="color:white"></i></a>
      |
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
  </div>
</footer>