<ol>
  {{ range sort . "Params.Rating" "desc" "Title" }}

    {{ .Scratch.Set "authors" "" }}
    {{ if .Params.Authors }}
      {{ .Scratch.Set "authors" .Params.Authors }}
    {{ else }}
      {{ if .Params.Source }}
        {{ $source := .Site.GetPage .Params.Source }}
        {{ if $source }}
          {{ .Scratch.Set "authors" $source.Params.Authors }}
        {{ end }}
      {{ end }}
    {{ end }}

    <li>
      {{ if eq .Type "books" }}
      <svg class="rating-icon">
        <title>Rating: {{ .Params.Rating }}</title>
        <use xlink:href="/img/fa/all.svg#rating-{{ .Params.Rating }}"></use>
      </svg>
      {{ end }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if .Params.Year }}({{ .Params.Year }}{{ if .Params.Language }}, In {{ .Params.Language }}{{ end }}){{ end }}
      {{ with .Scratch.Get "authors" }}
        by
        {{ range $index, $author := . }}{{ if $index }}, {{ end }}{{ $author }}{{ end }}
      {{ end }}
    </li>
  {{ end }}
</ol>
