<div class="bg-primary">
  <div class="container bg-primary">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id="nav-link-blog" href="{{ .Site.Home.Permalink }}"><i class="fas fa-home" title="Home" style="color:white"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-posts" href='{{ (.Site.GetPage "/posts").Permalink }}'>{{ i18n "posts" }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-about" href='{{ (.Site.GetPage "/pages/about.md").Permalink }}'>{{ i18n "about" }}</a>
        </li>
        {{ if .IsTranslated }}
        {{ if eq .Site.Language.Lang "ru" }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ upper .Site.Language.Lang }} </a>
            {{ range .Translations }}
              <ul class="dropdown-menu bg-primary">
                <li></li><a class="dropdown-item" href='{{ .Permalink }}'>{{ upper .Lang }}</a></li>
              </ul>
            {{ end }}
          </li>
        {{ end }}
        {{ end }}
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <dark-mode-toggle permanent="true"></dark-mode-toggle>
        </li>
      </ul>
    </nav>
  </div>
</div>