<div class="bg-primary">
  <div class="container bg-primary">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{ if eq .Site.Language.Lang "ru" }}
          <a class="nav-link" id="nav-link-blog" href='{{ (.Site.GetPage "/pages/about.md").Permalink }}'><svg class="fai"><use xlink:href="/img/fa/all.svg#house-chimney"></use></svg></a>
          {{ end }}
          {{ if eq .Site.Language.Lang "en" }}
          <a class="nav-link" id="nav-link-blog" href="{{ .Site.Home.Permalink }}"><svg class="fai"><use xlink:href="/img/fa/all.svg#house-chimney"></use></svg></a>
          {{ end }}
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-posts" href='{{ (.Site.GetPage "/posts").Permalink }}'>{{ i18n "posts" }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-about" href='{{ (.Site.GetPage "/pages/about.md").Permalink }}'>{{ i18n "about" }}</a>
        </li>
        {{ if .IsTranslated }}
        {{ if eq .Site.Language.Lang "ru" }}
        {{ range .Translations }}
        <li class="nav-item">
          <a class="nav-link" id="nav-link-en" href='{{ .Permalink }}'>{{ upper .Lang }}</a>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <dark-mode-toggle permanent="true"></dark-mode-toggle>
        </li>
      </ul>
    </nav>
  </div>
</div>