{{ $title := .Title }}
{{ $url := .Permalink }}

<br /><br />
<div class="row">
  <div class="justify-content-center share-block">
    <div class="share-title">{{ i18n "share" }}:</div>
    <div class="share-button"><a href="https://www.reddit.com/submit?url={{ $url }}&title={{ $title }}" target="_blank" title="Share on Reddit"><svg class="fai"><use xlink:href="/img/fa/all.svg#reddit"></use></svg></a></div>
    <div class="share-button"><a href="https://twitter.com/intent/tweet?text={{ $title }}&url={{ $url }}&via=andrey_akinshin&related=andrey_akinshin" rel="nofollow" target="_blank" title="Share on Twitter"><svg class="fai"><use xlink:href="/img/fa/all.svg#twitter"></use></svg></a></div>
    <div class="share-button"><a href="https://news.ycombinator.com/submitlink?u={{ $url }}" target="_blank" title="Share on HackerNews"><svg class="fai"><use xlink:href="/img/fa/all.svg#hacker-news"></use></svg></a></div>
    <div class="share-button"><a href="https://getpocket.com/save?url={{ $url }}&title={{ $title }}" target="_blank" title="Add to Pocket"><svg class="fai"><use xlink:href="/img/fa/all.svg#get-pocket"></use></svg></a></div>
    </div>
  </div>
</div>