{{ define "main" }}

<div class="main-post">

<h1 class="blog-post-title" id="post-title">{{ .Title }}</h1>

{{ partial "library-meta.html" . }}

<div class="main-content">
{{ .Content }}


{{ $slug := .Params.slug | default (.File.BaseFileName | default .File.Dir) }}
{{ $quotes := where (where .Site.Pages "Section" "quotes") "Params.source" $slug }}
{{ if $quotes }}
  <hr />
  <h3>Quotes</h3>
  {{ range $quotes }}
  <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  {{ .Content }}
  {{ end }}
{{ end }}

</div>

<br /><br />

</div>

{{ end }}