{{ $filename := cond .IsNamedParams (.Get "frames") (.Get 0) }}
{{ $message := (.Get 1) }}
{{ $defaultWidth := 600 }}
{{ $defaultHeight := 600 }}

{{ $image := $.Page.Resources.GetMatch (printf "frames/%s*" $filename) }}

<div class="row">
  <div class="mx-auto">
    <button id="frame-{{ (.Get 0) }}-button" type="button" class="btn btn-info">{{ $message }}</button>
    <iframe id="frame-{{ (.Get 0) }}"
            class="mx-auto d-none"
            width='{{ if (.Get "width") }}{{ .Get "width"}}{{ else }}{{ $defaultWidth }}{{ end }}'
            height='{{ if (.Get "height") }}{{ .Get "height"}}{{ else }}{{ $defaultHeight }}{{ end }}'>
    </iframe>
  </div>
</div>
<br />

<script>
  document.getElementById("frame-{{ (.Get 0) }}-button").addEventListener("click", function() {
    const button = document.getElementById("frame-{{ (.Get 0) }}-button");
    const frame = document.getElementById("frame-{{ (.Get 0) }}");
    button.classList.add("d-none");
    frame.classList.remove("d-none");
    frame.src = "{{ $image.RelPermalink }}";
  });
</script>