{{ $filename := cond .IsNamedParams (.Get "src") (.Get 0) }}
{{ $defaultWidth := 800 }}

{{ $imageDark := $.Page.Resources.GetMatch (printf "img/%s-dark*" $filename) }}
{{ $imageLight := $.Page.Resources.GetMatch (printf "img/%s-light*" $filename) }}

<div class="flex my-7 justify-center">
  <a class="img-light hidden" href="{{ $imageLight.RelPermalink }}" target="_blank" alt="{{ $filename }}">
    <img
      src="{{ $imageLight.RelPermalink }}" 
      width='{{ if (.Get "width") }}{{ .Get "width"}}{{ else }}{{ $defaultWidth }}{{ end }}'
      />
  </a>
  <a class="img-dark hidden" href="{{ $imageDark.RelPermalink }}" target="_blank" alt="{{ $filename }}">
    <img
      src="{{ $imageDark.RelPermalink }}" 
      width='{{ if (.Get "width") }}{{ .Get "width"}}{{ else }}{{ $defaultWidth }}{{ end }}'
      />
  </a>
</div>